In [4]:
import sqlite3
import numpy as np
import pandas as pd
import networkx as nx
import matplotlib.pyplot as plt
import spacy
from spacytextblob.spacytextblob import SpacyTextBlob

In [5]:
nlp = spacy.load('en_core_web_sm')
nlp.add_pipe("spacytextblob")

In [6]:
# connect notebook to db
conn = sqlite3.connect('hp-dataset-with-relations.sqlite')
c = conn.cursor()

In [7]:
# define function to get sentiment of a table
def calculate_sentiment(text):
    analysed = [nlp(line) for line in text]
    polarities = [l._.polarity for l in analysed]
    assessments = [l._.assessments for l in analysed]
    #return assessments
    return polarities

In [8]:
# get namelist of all available views in database
views = c.execute("SELECT tbl_name FROM sqlite_master where type='view'").fetchall()
views_names = [table[0] for table in views] 
views_names.remove('all_parts')

In [9]:
# test single table
sql = c.execute("SELECT dialog FROM harry_voldemort").fetchall()  
dialog = [i[0] for i in sql]
res = calculate_sentiment(dialog)
#print(res)

In [10]:
graph = nx.Graph()

In [ ]:
#call function with every view
for table in views_names:
    sql = c.execute("SELECT dialog FROM " + table).fetchall()  
    dialog = [i[0] for i in sql]
    result = calculate_sentiment(dialog)
    narr = np.array(result)
    mean = np.mean(narr)
    
    plt.title(table + ' ' + str(mean))
    x_axis = (-1, 1)
    if table.startswith('harry'):
        plt.hist(narr, range = x_axis, facecolor='g')
    else:
        plt.hist(narr, range = x_axis, facecolor='r')
        
    plt.savefig(table + '.jpg')

In [12]:
#isualize relations as colored networkgraph
for table in views_names:
    sql = c.execute("SELECT dialog FROM " + table).fetchall()  
    dialog = [i[0] for i in sql]
    result = calculate_sentiment(dialog)
    narr = np.array(result)
    mean = np.mean(narr)
    if table.startswith('harry'):
        if mean > 0:
            graph.add_node(table,{"color": "green"})
        else:
            graph.add_node(table,{"color": "red"})
    nx.draw(graph_labels=True, font_weight='bold')

TypeError: add_node() takes 2 positional arguments but 3 were given

In [37]:
#print(table + ': || ' + str(mean) + ' ||' + str(result))
#plt.clf()